*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-color: black;
} 

header{
    height: 7.70010vh;
}
main {
    height: 83.78926VH;
}
.flex {
    display: flex;
}
.flexEnd{
    justify-content: flex-end;
    align-content: flex-start;
} 
header > div i,
header > div span
{
    height: 2.53293vh;
    background-color: #b9b7c5;
    color: whitesmoke;
} 
header > div span{
    margin-right: 1vh;
}
.wrap {
    flex-wrap: wrap;
    height: 25vh;
    justify-content: center;
    align-content: center;
}
.wrap img{
    margin: 1vh;
    height: 10vh;
}
.containerM img{
    margin: 1vh;
}
.PR{
    position: relative;
}
.PA {
    position: absolute;
}

footer{
    background-color: #222222;
    height: 8.16327vh;
}

.containerF{
    color: white;
}
.start {
    display: flex;
    justify-content: flex-start;
    width: 35.52083vw;
}
.start i{
    padding: 3vh;
}
.end{
    justify-content: center;
}
.end i{
    padding: 3vh;
}
#Green {
    color: green;
}
.containerF p{
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    position: relative;
    left: 1vh;
    left: -6.1vh;
}